**/.archive
baselines/ckpt/*
**/__pycache__
internal
**/.DS_Store
**/.vscode
temp/*
*.csv
*.txt
!data/**/*.csv
!data/**/*.txt
!data/*.csv
!data/*.txt
!matching_facts_combined.csv
!books_forget.csv
!corruptions/chunk_corruptions.csv
key.csv
*.png
plot_results.py
pythia-6.9b/*
pythia-*
gpt2*
Llama2_ft
slurm-*
data/books/raw/books_forget_qa
baselines/Llama2_ft_mine
*.pdf
finetuned_books_model
corruptions/*
site_outputs/*
site_outputs_tofu/*
site_outputs_tofu_split_2p0x/*
tofu_data/*
finetuned_tofu_pythia_model/*
results*.json
fluency_results/*
site_slices_mean_meta-llama_Meta-Llama-3-8B/*
site_outputs_tofu_split_2p0x/*
site_outputs_tofu_llama2/*
site_outputs_tofu/*
site_outputs/*
ps_cross_dataset_outputs_mlp/*
ps_cross_dataset_outputs/*
finetuned_tofu_llama2_model/*