**/.archive
baselines/ckpt/*
**/__pycache__
internal
**/.DS_Store
**/.vscode
temp/*
*.csv
*.txt
!data/**/*.csv
!data/**/*.txt
!data/*.csv
!data/*.txt
!matching_facts_combined.csv
!books_forget.csv
key.csv
*.png
plot_results.py
pythia-6.9b/*
pythia-*
gpt2*
Llama2_ft
slurm-*
data/books/raw/books_forget_qa
baselines/Llama2_ft_mine
*.pdf
finetuned_books_model
